<template>
    <button class="icon icon-like-active" v-on:click="likePost" v-if="isLike"></button>
    <button class="icon icon-like" v-on:click="likePost" v-else></button>
</template>
<script>
    export default {
        data: function () {
            return {
                likeAction: false,
                like: false,
            }
        },
        computed: {
            isLike() {
                if(!this.likeAction){
                    return this.is_like;
                }

                return this.like;
            },
        },
        props: {
            is_like: false,
            type: false,
            id: false,
        },
        methods: {
            likePost() {
                if (this.$user.check) {
                    this.$http.post('/spa/ajax/like', {
                        id: this.id,
                        type: this.type,
                    }).then(response => {
                        if (response.data.isSuccess) {
                            this.likeAction = true;
                            this.like = response.data.data.isLike;
                        }
                    });
                } else {
                    this.$store.commit('modalShow', 'signIn');
                }
            }
        }
    }
</script>